.form{
    padding: 100px;
    border: 1px solid #B0C4DE;
    border-radius: 0px 0px 10px 10px;
    }
    .form-div
    {
      width: 40%;
      margin: 50px auto;
      padding: 20px;
      border: 1px solid #B0C4DE;
      background: white;
      border-radius: 0px 0px 10px 10px; 
    }
    .form-login
    {
      padding: 100px;
      border: 1px solid #B0C4DE;
      border-radius: 0px 0px 10px 10px;
    }